In [1]:
import pandas as pd

from data.universe import Universe

In [2]:
Universe.get_universe_price()

            MONTAIRE  ETF_GROWTH  ETF_VALUE  ETF_CAC  ETF_SPX
date
2016-06-01   100.166      107.00     119.94   45.205   32.067
2016-06-02   100.165      107.52     120.47   45.225   32.182
2016-06-03   100.165      106.42     119.83   44.805   31.623
2016-06-06   100.163      106.28     121.56   44.950   31.803
2016-06-07   100.163      106.98     122.23   45.445   31.976
...              ...         ...        ...      ...      ...
2024-02-22   100.855      162.56     224.96   78.040   91.141
2024-02-23   100.867      163.28     224.96   78.580   91.525
2024-02-26   100.898      162.71     223.95   78.250   91.150
2024-02-27   100.909      162.79     224.07   78.470   90.856
2024-02-28   100.919      162.38     222.58   78.460   91.090

[2021 rows x 5 columns]

In [4]:
Universe.get_defensive_securities()

['MONTAIRE', 'ETF_VALUE', 'ETF_CAC']

In [5]:
Universe.get_universe_returns()

            MONTAIRE  ETF_GROWTH  ETF_VALUE   ETF_CAC   ETF_SPX
date
2016-06-01  0.000000    0.000000   0.000000  0.000000  0.000000
2016-06-02 -0.000010    0.004860   0.004419  0.000442  0.003586
2016-06-03  0.000000   -0.010231  -0.005313 -0.009287 -0.017370
2016-06-06 -0.000020   -0.001316   0.014437  0.003236  0.005692
2016-06-07  0.000000    0.006586   0.005512  0.011012  0.005440
...              ...         ...        ...       ...       ...
2024-02-22  0.000109    0.010694   0.004420  0.012323  0.020330
2024-02-23  0.000119    0.004429   0.000000  0.006920  0.004213
2024-02-26  0.000307   -0.003491  -0.004490 -0.004200 -0.004097
2024-02-27  0.000109    0.000492   0.000536  0.002812 -0.003225
2024-02-28  0.000099   -0.002519  -0.006650 -0.000127  0.002576

[2021 rows x 5 columns]